<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logDirectory">build/logs</Property>
        <Property name="logPattern">%d{HH:mm:ss.SSS} [%thread] %highlight{%-5level} %logger - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingRandomAccessFile
                name="FileAppender"
                fileName="${logDirectory}/application.log"
                filePattern="${logDirectory}/archived/application.log.%d{yyyy-MM-dd-HH}.gz">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="ConsoleAppender" level="ERROR"/>
            <AppenderRef ref="FileAppender" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>